In [42]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#docs = pd.read_csv('001.txt', sep='delimiter', header=None,engine='python')
docs = [line.strip() for line in open('001.txt', 'r')]

In [43]:
cv=CountVectorizer()

# this steps generates word counts for the words in your docs
word_count_vector=cv.fit_transform(docs)

In [44]:
word_count_vector.shape

(11, 228)

In [45]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

# print idf values
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["tf_idf_weights"])
df_idf.sort_values(by=['tf_idf_weights'])

              tf_idf_weights
to                  1.693147
timewarner          1.693147
the                 1.693147
for                 1.693147
said                1.875469
...                      ...
expectations        2.791759
expects             2.791759
film                2.791759
enhancing           2.791759
inquiry             2.791759

[228 rows x 1 columns]

In [46]:
count_vector=cv.transform(docs)
tf_idf_vector=tfidf_transformer.transform(count_vector)

In [47]:
feature_names = cv.get_feature_names()

#get tfidf vector for first document
first_document_vector=tf_idf_vector[0]

#print the scores
df = pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])
df.sort_values(by=["tfidf"],ascending=True)

             tfidf
000       0.000000
offering  0.000000
office    0.000000
offset    0.000000
on        0.000000
...            ...
warner    0.327865
time      0.366875
sales     0.417167
boost     0.488049
ad        0.488049

[228 rows x 1 columns]