In [5]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# docs of string
docs=["the house had a tiny little mouse",
      "the cat saw the mouse",
      "the mouse ran away from the house",
      "the cat finally ate the mouse",
      "the end of the mouse story"
     ]

In [6]:
cv=CountVectorizer()

# this steps generates word counts for the words in your docs
word_count_vector=cv.fit_transform(docs)

In [7]:
word_count_vector.shape

(5, 16)

In [8]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

# print idf values
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["tf_idf_weights"])
df_idf.sort_values(by=['tf_idf_weights'])

         tf_idf_weights
mouse          1.000000
the            1.000000
cat            1.693147
house          1.693147
ate            2.098612
away           2.098612
end            2.098612
finally        2.098612
from           2.098612
had            2.098612
little         2.098612
of             2.098612
ran            2.098612
saw            2.098612
story          2.098612
tiny           2.098612

In [9]:
count_vector=cv.transform(docs)
tf_idf_vector=tfidf_transformer.transform(count_vector)

In [13]:
feature_names = cv.get_feature_names()

#get tfidf vector for first document
first_document_vector=tf_idf_vector[0]

#print the scores
df = pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])
df.sort_values(by=["tfidf"],ascending=True)

            tfidf
ate      0.000000
away     0.000000
cat      0.000000
end      0.000000
finally  0.000000
from     0.000000
of       0.000000
ran      0.000000
saw      0.000000
story    0.000000
mouse    0.235185
the      0.235185
house    0.398203
had      0.493562
little   0.493562
tiny     0.493562